.buttonsprite, .graph-table-gradient, .grouping-parent-gradient, .landing-gradient, .portal-header-gradient, .probe_button_gradient, .probe_status_gradients, .sidebar-gradient, .support-gradient, .toggle-button-gradient, .search-gradient, .table_header{
	background: url(../image/gradient_sprites.png) no-repeat;
}

.buttonsprite{
	background-position: 0 -784px ;
	background-repeat: repeat-x;
	height: 52px;
}

.graph-table-gradient{
	background-position: -25px -184px ;
	background-repeat: repeat-x;
	height: 277px;
}

.grouping-parent-gradient{
	background-position: -43px -873.9999847412109px ;
	background-repeat: repeat-x;
	height: 30px;
}

.landing-gradient{
	background-position: 0 -601px ;
	background-repeat: repeat-x;
	height: 90px;
}

.portal-header-gradient{
	background-position: 0 -838.9999847412109px ;
	background-repeat: repeat-x;
	height: 30px;
}

.probe_button_gradient{
	background-position: 0 -735px ;
	background-repeat: repeat-x;
	height: 45px;
}

.probe_status_gradients{
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 182px;
}

.sidebar-gradient{
	background-position: 0 -463.99998474121094px ;
	background-repeat: repeat-x;
	height: 40px;
}

.support-gradient{
	background-position: 0 -506.99998474121094px ;
	background-repeat: repeat-x;
	height: 90px;
}

.toggle-button-gradient{
	background-position: 0 -695px ;
	background-repeat: repeat-x;
	height: 36px;
}

.search-gradient{
	background-position: 0 -907px;
	background-repeat: repeat-x;
	height: 23px;
}

.table_header{
	background-position: 0 -935.0000152587891px ;
	background-repeat: repeat-x;
	height: 40px;
}

