.Email, .icn_wrench_off, .icn_wrench, .raindrop_off, .raindrop, .SMS, .add, .data-table-sprite, .edit, .trash, .closeDialog, .whiteArrow, .whiteBlock, .enter-key, .keys, .space-bar, .icon_share, .icon-share-in, .icon-share-out, .close-weather, .grey-pin, .list_icon, .map_marker_detail_shadow_tall, .map_marker_detail_shadow, .map_marker_shadow_small, .map_triangle_noshadow, .mapmarker, .shadow, .weather_triangle-copy, .weather_triangle, .weather-sprite, .white-pin, .header-tab-left-selected, .header-tab-left, .header-tab-right-selected, .header-tab-right, .Cloud_btn_ro, .Cloud_btn, .Note_btn_ro, .Note_btn, .Rain_btn_ro, .Rain_btn, .Snow_btn_ro, .Snow_btn, .Sun_btn_ro, .Sun_btn, .Water_btn_ro, .Water_btn, .Wind_btn_ro, .Wind_btn, .add, .arrows_dark_sprite, .asc, .b_arrow, .bg, .calendar_icon, .check-sm_off, .check-sm_on, .check-sm, .clearpix, .desc, .down_arrow_dark, .gateway_triangle, .help, .homepage, .icon_Pencil, .icon_Plus, .icon_Trash, .icon-error, .icon-gateway-error, .icon-success, .info-icon, .info-pod-triangle-east, .left_arrow_dark, .list_icon-white, .monitor_icon_sprite, .notice-lg, .r_arrow, .required, .right_arrow_dark, .service-tractor-inactive-small, .service-tractor-inactive, .service-tractor-small, .service-tractor, .sitedown, .socialSprite, .transparent, .warning, .waterlogo, .welcome_arrow, .icon-me-star, .starred, .port-reference-selected, .port-reference, .sensor-diagram, .inuse, .Search_icon, .search-cancel-sprite, .search-cancel, .sensors_4, .sensors_5-1, .sensors_6, .sensors_7, .table-page-button-hover, .table-page-button{

    background-image: url(../image/master_sprites.png);
}
.Email{
	background-position: -35px 0;
	width: 25px;
	height: 25px;
    background: url(../image/master_sprites.png) no-repeat;
}

.icn_wrench_off {
	background-position: -146px 0;
	width: 17px;
	height: 17px;
}

.icn_wrench {
	background-position: -125px 0;
	width: 17px;
	height: 17px;
}

.raindrop_off{
	background-position: -67px 0;
	width: 25px;
	height: 25px;
}

.raindrop{
	background-position: -94px 0;
	width: 25px;
	height: 25px;
}

.SMS{
	background-position: 0 0;
	width: 26px;
	height: 26px;
}

.add{
	background-position: -167px 0;
	width: 40px;
	height: 28px;
}

.data-table-sprite{
	background-position: -167px 0;
	width: 120px;
	height: 28px;
}

.edit{
	background-position: -247px 0;
	width: 40px;
	height: 28px;
}

.trash{
	background-position: -207px 0;
	width: 40px;
	height: 28px;
}

.closeDialog{
	background-position: -289px -1px;
	width: 50px;
	height: 25px;
}

.whiteArrow{
	background-position: -355px 0;
	width: 10px;
	height: 40px;
}

.whiteBlock{
	background-position: -342px 0;
	width: 10px;
	height: 40px;
}

.enter-key{
	background-position: -593px 0;
	width: 83px;
	height: 80px;
}

.keys{
	background-position: -683px 0;
	width: 112px;
	height: 80px;
}

.space-bar{
	background-position: -799px 0;
	width: 129px;
	height: 80px;
}

.icon_share{
	background-position: -431px 0;
	width: 16px;
	height: 16px;
}

.icon-share-in{
	background-position: -403px 0;
	width: 23px;
	height: 16px;
}

.icon-share-out{
	background-position: -371px 0;
	width: 23px;
	height: 16px;
}

.close-weather{
	background-position: -165px -35.99998474121094px ;
	width: 40px;
	height: 20px;
}

.grey-pin{
	background-position: -55px -31.999984741210938px ;
	width: 44px;
	height: 28px;
}

.list_icon{
	background-position: -260px -57.99998474121094px ;
	width: 45px;
	height: 28px;
}

.map_marker_detail_shadow_tall{
	background-position: -553px -82.99998474121094px ;
	width: 375px;
	height: 126px;
}

.map_marker_detail_shadow{
	background-position: 0 -114px ;
	width: 334px;
	height: 90px;
}

.map_marker_shadow_small{
	background-position: -183px -65.99998474121094px ;
	width: 71px;
	height: 42px;
}

.map_triangle_noshadow{
	background-position: -261px -36px;
	width: 29px;
	height: 16px;
}

.mapmarker{
	background-position: -218px -36px ;
	width: 29px;
	height: 16px;
}

.shadow{
	background-position: 0 -61.99998474121094px ;
	width: 178px;
	height: 49px;
}

.weather_triangle-copy{
	background-position: -296px -90.99998474121094px ;
	width: 29px;
	height: 16px;
}

.weather_triangle{
	background-position: -260px -89.99998474121094px ;
	width: 29px;
	height: 16px;
}

.weather-sprite{
	background-position: -108px -35px ;
	width: 48px;
	height: 20px;
}

.white-pin{
	background-position: 0 -29.999984741210938px ;
	width: 44px;
	height: 28px;
}

.header-tab-left-selected{
	background-position: -532px 0;
	width: 20px;
	height: 25px;
}

.header-tab-left{
	background-position: -506px 0;
	width: 20px;
	height: 25px;
}

.header-tab-right-selected{
	background-position: -481px 0;
	width: 20px;
	height: 25px;
}

.header-tab-right{
	background-position: -454px 0;
	width: 20px;
	height: 25px;
}

.Cloud_btn_ro{
	background-position: -524px -80.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Cloud_btn{
	background-position: -524px -50.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Note_btn_ro{
	background-position: -495px -81.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Note_btn{
	background-position: -495px -50.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Rain_btn_ro{
	background-position: -461px -80.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Rain_btn{
	background-position: -462px -52.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Snow_btn_ro{
	background-position: -430px -80.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Snow_btn{
	background-position: -429px -50.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Sun_btn_ro{
	background-position: -400px -81.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Sun_btn{
	background-position: -399px -51.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Water_btn_ro{
	background-position: -369px -82.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Water_btn{
	background-position: -369px -51.99998474121094px ;
	width: 25px;
	height: 25px;
}

.Wind_btn_ro{
	background-position: -336px -83px ;
	width: 25px;
	height: 25px;
}

.Wind_btn{
	background-position: -336px -52px ;
	width: 25px;
	height: 25px;
}

.add{
	background-position: -251px -357px ;
	width: 14px;
	height: 14px;
}

.arrows_dark_sprite{
	background-position: -370px -262px ;
	width: 26px;
	height: 26px;
}

.asc{
	background-position: -344px -331px ;
	width: 21px;
	height: 4px;
}

.b_arrow{
	background-position: -373px -339px ;
	width: 11px;
	height: 7px;
}

.bg{
	background-position: -344px -348px ;
	width: 21px;
	height: 9px;
}

.calendar_icon{
	background-position: -304px -340px ;
	width: 19px;
	height: 18px;
}

.check-sm_off{
	background-position: -539px -270px ;
	width: 12px;
	height: 11px;
}

.check-sm_on{
	background-position: -507px -269px ;
	width: 12px;
	height: 11px;
}

.check-sm{
	background-position: -489px -270px ;
	width: 12px;
	height: 11px;
}

.clearpix{
	background-position: -459px -412px ;
	width: 1px;
	height: 1px;
}

.desc{
	background-position: -344px -340px ;
	width: 21px;
	height: 4px;
}

.down_arrow_dark{
	background-position: -469px -271px ;
	width: 13px;
	height: 13px;
}

.gateway_triangle{
	background-position: -333px -268px ;
	width: 29px;
	height: 16px;
}

.help{
	background-position: -276px -342px ;
	width: 18px;
	height: 18px;
}

.homepage{
	background-position: -21px -424.99998474121094px ;
	width: 118px;
	height: 115px;
}

.icon_Pencil{
	background-position: -192px -355px;
	width: 18px;
	height: 17px;
}

.icon_Plus{
	background-position: -164px -355px ;
	width: 17px;
	height: 17px;
}

.icon_Trash{
	background-position: -222px -354px ;
	width: 18px;
	height: 18px;
}

.icon-error{
	background-position: -212px -295px ;
	width: 45px;
	height: 45px;
}

.icon-gateway-error{
	background-position: -408px -265px ;
	width: 16px;
	height: 16px;
}

.icon-success{
	background-position: -163px -296px ;
	width: 45px;
	height: 45px;
}

.info-icon{
	background-position: -309px -305px ;
	width: 19px;
	height: 19px;
}

.info-pod-triangle-east{
	background-position: -312px -258px ;
	width: 16px;
	height: 29px;
}

.left_arrow_dark{
	background-position: -431px -269px ;
	width: 13px;
	height: 13px;
}

.list_icon-white{
	background-position: -361px -171px ;
	width: 45px;
	height: 28px;
}

.monitor_icon_sprite{
	background-position: -343px -300px ;
	width: 119px;
	height: 17px;
}

.notice-lg{
	background-position: -268px -296px ;
	width: 33px;
	height: 33px;
}

.r_arrow{
	background-position: -525px -270px ;
	width: 7px;
	height: 11px;
}

.required{
	background-position: -455px -273px ;
	width: 7px;
	height: 7px;
}

.right_arrow_dark{
	background-position: -287px -264px ;
	width: 13px;
	height: 13px;
}

.service-tractor-inactive-small{
	background-position: -428px -176px ;
	width: 39px;
	height: 20px;
}

.service-tractor-inactive{
	background-position: -369px -113.99998474121094px ;
	width: 79px;
	height: 41px;
}

.service-tractor-small{
	background-position: -477px -173px ;
	width: 39px;
	height: 20px;
}

.service-tractor{
	background-position: -465px -115.99998474121094px ;
	width: 79px;
	height: 41px;
}

.sitedown{
	background-position: -475px -299.99998474121094px ;
	width: 44px;
	height: 52px;
}

.socialSprite{
	background-position: -378px -24px ;
	width: 48px;
	height: 16px;
}

.transparent{
	background-position: -57px -296.99998474121094px ;
	width: 100px;
	height: 100px;
}

.warning{
	background-position: -260px -263px ;
	width: 16px;
	height: 16px;
}

.waterlogo{
	background-position: 0 -211.99998474121094px ;
	width: 250px;
	height: 77px;
}

.welcome_arrow{
	background-position: 0 -295.99998474121094px ;
	width: 50px;
	height: 100px;
}

.icon-me-star{
	background-position: -451px -337px ;
	width: 14px;
	height: 14px;
}

.starred{
	background-position: -403px -332px ;
	width: 32px;
	height: 32px;
}

.port-reference-selected{
	background-position: -782px -224.99998474121094px ;
	width: 25px;
	height: 25px;
}

.port-reference{
	background-position: -747px -224.99998474121094px ;
	width: 25px;
	height: 25px;
}

.sensor-diagram{
	background-position: -817px -222.99998474121094px ;
	width: 102px;
	height: 255px;
}

.inuse{
	background-position: -774px -292.99998474121094px ;
	width: 30px;
	height: 30px;
}

.Search_icon{
	background-position: -532px -336.99998474121094px ;
	width: 16px;
	height: 15px;
}

.search-cancel-sprite{
	background-position: -532px -318.99998474121094px ;
	width: 24px;
	height: 12px;
}

.search-cancel{
	background-position: -532px -291.99998474121094px ;
	width: 16px;
	height: 16px;
}

.sensors_4{
	background-position: -654px -222.99998474121094px ;
	width: 40px;
	height: 205px;
}

.sensors_5-1{
	background-position: -700px -223.99998474121094px ;
	width: 40px;
	height: 205px;
}

.sensors_6{
	background-position: -609px -216.99998474121094px ;
	width: 40px;
	height: 260px;
}

.sensors_7{
	background-position: -560px -214.99998474121094px ;
	width: 40px;
	height: 320px;
}

.table-page-button-hover{
	background-position: -784px -253.99998474121094px ;
	width: 20px;
	height: 20px;
}

.table-page-button{
	background-position: -751px -256.99998474121094px ;
	width: 20px;
	height: 20px;
}

